* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0 !important;
}

html,
body {
    position: relative;
}

.show{
    display: block !important;
}

.btn-icon {
    background-color: unset;
    border: none;
    outline: none;
    outline-style: none;
}

.btn-icon:active {
    outline: none;
    border: none;
    transform: scale(1);
    transition: .2s;
}

.btn-icon::-webkit-slider-thumb:active {
    border: none;
    transform: scale(1);
    transition: .2s;
}

.btn-icon i {
    font-size: xx-large;
    color: #fff;
}

.btn-icon i:hover {
    font-size: 2.5rem;
}

.quiz-app-title {
    color: #fff;
    margin-bottom: 10%;
    font-size: 1.6rem;
    font-weight: 600;
}

.main-btn {
    background-color: #F9A826;
    width: 80%;
    padding: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    letter-spacing: .1rem;
    margin-top: 10%;
}

.main-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: .2s;
    background-color: #f26101;
    box-shadow: 5px 5px 20px 0px #FFB000
}

.visible-page {
    display: flex !important;
}

.unvisible-page {
    display: none !important;
}

/* ////////////////////////////////////home page styles */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.home-page header {
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.toggle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.menu-btn {
    padding-left: 5rem;
}

.item-list {
    display: none;
    margin-top: 1rem;
    list-style: none;
    color: white;
    background-color: #9b382262;
    border: none;
    border-radius: 10px;
}

.visible {
    display: block;
}

.item-list li {
    padding-top: 1rem;
    width: 100%;
    padding: .5rem 2rem;
}

.item-list li:hover {
    cursor: pointer;
    background-color: #9b38229d;
    ;
}

.orange-border {
    display: block;
    background-color: #F2613F;
    width: 100%;
    height: 1px;
}

.home-img {
    width: 80%;
    height: 50%;
}

/* ////////////////////////Loader */
/* HTML: <div class="loader"></div> */
.loader {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 45%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    --c: no-repeat linear-gradient(orange 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 21px 21px;
    animation: l5 1s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l5 {
    0% {
        background-position: 0 0, 100% 0, 100% 100%, 0 100%
    }

    33% {
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        width: 60px;
        height: 60px
    }

    66% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0;
        width: 60px;
        height: 60px
    }

    100% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

/* ////////////////////////////////////quiz page styles */
.quiz-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quiz-page header {
    color: #fff;
    padding: 3rem 0 0 2rem;
    width: 100%;
}


.timer {
    width: 70%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
}

#timer-bar {
    background-image: linear-gradient(to right, #ED765E, #FEA858);
    width: 0%;
    height: 2.8vh;
    border-radius: 50px;
}

.timer-icon {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    left: 79.5%;
}

.questions-container {
    width: 100%;
    height: 65%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide {
    width: 70%;
    height: 85%;
    text-align: center;
    font-size: 1rem;
    background: linear-gradient(-45deg, #BB1900, #FD6F01, #FFB000);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 0px #FFB000
}

.question-box-title {
    font-size: 1rem;
}

.question-text {
    font-size: 1.2rem;
    margin: 0 1rem;
}

.Answer-options {
    width: 75%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.awnser-btn {
    background-color: #000000;
    color: #fff;
    padding: 5px 0;
    border: none;
    border-radius: 8px;
}

.right {
    background-color: rgba(11, 196, 11, 0.637);
}

.wrong {
    background-color: rgba(255, 0, 0, 0.466);
}

/* The Modal  */

#result-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.result-content {
    background-color: #FFA559;
    margin: 15% auto;
    padding: 15px;
    margin-top: 35vh;
    width: 85%;
    height: 30%;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 0px #FFB000
}


.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.score-container{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-container P{
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

#final-score{
    color: red;
    font-size: x-large;
    font-weight: 900;
}

.try-again-btn{
    background-color: #fff;
}